google_appengine*
*.swp
*.pyc
*~
site/msmcyc/templates/base_home.html
site/static/css/main.css
site/msmcyc/templates/index.html
site/static/js/main.js
site/msmcyc/views.py
site/msmcyc/models.py
site/msmcyc/templates/events.html
site/msmcyc/templatetags/extras.py
site/msmcyc/templates/base_signup.html
site/msmcyc/templates/signup_success.html
