google_appengine*
*.swp
*.pyc
*~
site/index.yaml
site/msmcyc/templates/base_home.html
site/static/css/main.css
site/msmcyc/templates/index.html
site/static/js/main.js
site/msmcyc/views.py
site/msmcyc/models.py
site/msmcyc/templates/events.html
site/msmcyc/templatetags/extras.py
site/msmcyc/templates/base_signup.html
site/msmcyc/templates/sponsors.html
site/msmcyc/templates/signup_success.html
site/msmcyc/templates/signup.html
site/static/img/sponsors/Katie_Mahoney-scaled.jpg
site/static/img/sponsors/Pat_Saito-scaled.jpg
site/static/img/sponsors/PUBLICITE_CONVERSE_2012,13-scaled.jpg
