<table>
	{# {{ form.as_table }} #}
	<tr><th><label for="id_first_name">First name:</label></th><td><input type="text" name="first_name" id="id_first_name" /></td></tr>
	<tr><th><label for="id_last_name">Last name:</label></th><td><input type="text" name="last_name" id="id_last_name" /></td></tr>
	<tr><th><label for="id_school">School:</label></th><td><input type="text" name="school" id="id_school" /></td></tr>
	<tr><th><label for="id_grade">Grade:</label></th><td><input type="text" name="grade" id="id_grade" /></td></tr>
	<tr><th><label for="id_gender_0">Gender:</label></th><td><ul>
	<li><label for="id_gender_0"><input type="radio" id="id_gender_0" value="Male" name="gender" /> Male</label></li>
	<li><label for="id_gender_1"><input type="radio" id="id_gender_1" value="Female" name="gender" /> Female</label></li>
	</ul></td></tr>
	<tr><th><label for="id_email">Email:</label></th><td><input type="text" name="email" id="id_email" /></td></tr>
	<tr><th><label for="id_phone">Phone:</label></th><td><input type="text" name="phone" id="id_phone" /></td></tr>
</table>
<input type="checkbox" name="face_painting" id="id_face_painting" />
<label for="id_face_painting">Face-painting</label>
<br>
<input type="checkbox" name="making_balloon_animals" id="id_making_balloon_animals" />
<label for="id_making_balloon_animals">Making balloon animals</label>
<br>
<input type="checkbox" name="route_marshall" id="id_route_marshall" />
<label for="id_route_marshall">Route marshall</label>
<br>
<input type="checkbox" name="registration_helper" id="id_registration_helper" />
<label for="id_registration_helper">Registration helper</label>
<br>
<input type="checkbox" name="food_helper" id="id_food_helper" />
<label for="id_food_helper">Food helper</label>
<br>
<input type="checkbox" name="iagree" id="id_iagree" />
<label for="id_iagree">By checking this box, I hereby waive MS Society of Canada and its members from any liability of injury, loss or damage to personal property associated with activities participated in this event.</label>
<br>
<input type="submit" value="{{ existing|yesno:"Save,Sign up" }}" />
{# vim: set ts=4 sw=4: #}
