{% extends "base_home.html" %}
{% load ajax_form_utils %}
{% block content %}
	<article>
		<header>
			<h1>{% block title %}Submit form{% endblock %}</h1>
			{% block header %}{% endblock %}
		</header>
		<section>
			<h2>{% block longtitle %}Send us a form{% endblock %}</h2>
			<form action="" method="post">
				{% csrf_token %}
				{{ form.non_field_errors }}
				{% if form.management_form %}
					{% include "base_signup.html" %}
				{% else %}
					<dl>
						{% as_dl form %}
						<dd><input type="submit" value="{% block submit_text %}Submit{% endblock %}" /></dd>
					</dl>
				{% endif %}
			</form>
		</section>
	</article>
{% endblock %}
{% block postscript %}
	{% include "base_validation.html" %}
{% endblock %}
{# vim: set ts=4 sw=4: #}
