{% extends "base_home.html" %}
{% block title %}Events{% endblock %}
{% block description %}Event listings for MSMYC{% endblock %}
{% block content %}
	<article>
		<header>
			<h1>Events</h1>
			<p>Sign up! Please?</p>
		</header>
		{% for event in events %}
			<section>
				<h2><a
					{% if event.link %}
						href="{{ event.link }}"
					{% endif %}
				>{{ event.name }}</a></h2>
				<p>{{ event.html|safe }}</p>
				{% if event.signup %}
					<h3>Sign up for <strong>{{ event.name }}</strong></h3>
					{{ event.signup|safe }}
				{% endif %}
				{% if event.stats %}
					<h3>Signup stats</h3>
					<p>{{ event.stats|safe }}</p>
				{% endif %}
			</section>
		{% empty %}
			<section>
				<h2>Sorry</h2>
				<p>There are no events in the near future.</p>
			</section>
		{% endfor %}
		<footer>
			<h3>Check back regularly</h3>
			<p>We may post more stuff.</p>
		</footer>
	</article>
{% endblock %}
{% block postscript %}
	<script type="text/javascript">
		$(".signup").each(function(i,e){
			$(e).prev().togglerFor(e);
		});
	</script>
{% endblock %}
