{% extends "base_home.html" %}
{% load ajax_form_utils %}
{% load extras %}
{% block title %}Scoreboard{% endblock %}
{% block description %}Volleyball Tournament Scoreboard{% endblock %}
{% block content %}
	<style>
		.win{
			background-color:#0f0;
		}
		.lose{
			background-color:#d9d9d9;
		}
		tr.now{
			background-color:#0ff;
			font-weight:bold;
		}
		.win .points{
			font-weight:bold;
		}
		a.hash:target{
			font-weight:bold;
		}
		.elimination-hide{
			display:none;
		}
	</style>
	<article>
		<header>
			<h1>Scoreboard</h1>
		</header>
		<section>
			<h2>Matches</h2>
			<div style="float:right;">
				<a href="#all" class="hash" id="all">All</a>
				<a href="#competitive" class="hash" id="competitive">Competitive</a>
				<a href="#recreational" class="hash" id="recreational">Recreational</a>
			</div>
			<table width="100%">
				<tbody id="matches">
					<tr>
						<th>Time</th>
						<th colspan="2">Teams</th>
						<th>Type</th>
					</tr>
					{% matches %}
				</tbody>
			</table>
		</section>
		<section class="elimination-hide">
			<h2>Elimination</h2>
			<table>
				<tbody id="elimination">
				</tbody>
			</table>
		</section>
	</article>
{% endblock %}
{% block postscript %}
	<script type="text/javascript">
		$(function(){
			var $style=$("<style>").appendTo("head"),hashes=["competitive","recreational"];
			function cb(hash){
				var idx=hashes.indexOf(hash.substring(1));
				$style.html(idx<0?"":"."+hashes[idx^1]+"{display:none;}");
			};
			cb(location.hash);
			$(".hash").click(function(){
				cb(this.hash);
			});
			//$(".elimination-hide").removeClass("elimination-hide");
		});
	</script>
{% endblock %}
