{% extends "base_home.html" %}
{% block title %}Sign up: {{ name }}{% endblock %}
{% block content %}
	<article>
		<header>
			<h1>Done!</h1>
			<p>You have signed up for the {{ name }}. You can view your information at <a href="{{ uri }}">{{ uri }}</a>. A confirmation email has been sent.</p>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</header>
		{% if form %}
			<section>
				<h2>Submitted Form</h2>
				{% include "base_signup.html" %}
			</section>
		{% endif %}
	</article>
{% endblock %}
{# vim: set ts=4 sw=4: #}
