{% extends "base_home.html" %}
{% load ajax_form_utils %}
{% block description %}Signup for the {{ name }}{% endblock %}
{% block content %}
	<article>
		<header>
			<h1>{{ name|capfirst }} &#8212; Signup</h1>
			<p>Sign up for {{ name }} now! You can edit it later.</p>
		</header>
		<section>
			{% if not existing %}
				<p>If you haven't signed up for the {{ name }}, you can sign up here.</p>
			{% endif %}
			{% if form.management_form %}
				{% include "base_signup.html" %}
			{% else %}
				<form action="" method="post">
					{% csrf_token %}
					{{ form.non_field_errors }}
						<dl>
							{% as_dl form %}
							<dd><input type="submit" value="Sign up" /></dd>
						</dl>
				</form>
			{% endif %}
		</section>
	</article>
{% endblock %}
{% block postscript %}
	{% include "base_validation.html" %}
{% endblock %}
{# vim: set ts=4 sw=4: #}
