{% extends "base_home.html" %}
{% load ajax_form_utils %}
{% block title %}Signup{% endblock %}
{% block description %}Signup for the {{ name }}{% endblock %}
{% block content %}
	<article>
		<header>
			<h1>{{ name|capfirst }} &#8212; Signup</h1>
		</header>
		<section>
			{% if template %}
				{% include template %}
			{% elif form.management_form %}
				{% include "base_signup.html" %}
			{% else %}
				<form action="" method="post">
					{% csrf_token %}
					{{ form.non_field_errors }}
						<dl>
							{% as_dl form %}
							<dd><input type="submit" value="Sign up" /></dd>
						</dl>
				</form>
			{% endif %}
		</section>
	</article>
{% endblock %}
{% block postscript %}
	{% include "base_validation.html" %}
	{% ifequal event "volleyball" %}
		<script>
			$("label").each(function(i,e){
				var html=$(e).html(),m=html.match(/ \([^()]*\):$/);
				if(m)
					$(e).html(html.substring(0,html.length-m[0].length)+"<br><small>"+m[0].substring(1)+"</small>");
			});
			$(function(){
				var trees=[],slugs="first_name last_name phone email school grade team_type".split(" "),read=31;
				trees=slugs.map(function(){
					return{};
				});
				trees.teamName={};
				function insert(t,s,v){
					if(s.length==1)
						return!(t[s]instanceof Array)&&(t[s]=v);
					if(!t.hasOwnProperty(s[0]))
						t[s[0]]={};
					return insert(t[s[0]],s.substring(1),v);
				}
				function retrieve(t,s){
					if(t instanceof Array)
						return t;
					if(s&&t.hasOwnProperty(s[0]))
						return retrieve(t[s[0]],s.substring(1));
					if(s===""&&t.hasOwnProperty('\0'))
						return retrieve(t['\0']);
				}
				var lastcb,ac=new Function,block=false,defMe=$(".signup-me").text(),indie=/independent/.test(location.href);
				function unhint(){
					ac=new Function;
					$.unhint();
					block=false;
					var prefix=$("#id_form-name").val(),key=normalizeName(prefix),val=retrieve(trees.teamName,key);
					if(val&&normalizeName(val[1])===key){
						$(".signup-me").text("Member").addClass("db-read");
						$("#id_form-team_type_"+val[0]).attr("disabled","disabled");
						$("#id_form-team_type_"+(val[0]^1)).click();
					}else{
						if(val!==false)
							$(".signup-me").text(defMe).removeClass("db-read");
						else
							$(".signup-me").text("Captain").addClass("db-read");
						$("#id_form-team_type_0,#id_form-team_type_1").removeAttr("disabled");
					}
				}
				function normalizeName(name){
					if(typeof name=="string")
						return name.replace(/ \t-_/g,"").toLowerCase();
				}
				$(".signup input[type=text]").css({display:"block"});
				$("form").keyup(function(){
					lastcb=undefined;
					if(block)
						return;
					unhint();
					var $e=$(document.activeElement),prefix=$e.val(),slug=$e.parent().prev().children().text().trim().replace(/ /g,"_").toLowerCase().replace(/[^a-z_]/g,"");
					if(!$e.closest("#signup-volleyball").length||!prefix)
						return;
					if(slug=="team_name"){
						var key=normalizeName(prefix),val=retrieve(trees.teamName,key);
						function cb(val){
							if(lastcb!=cb)
								return;
							if(val.length){
								$("#id_form-name").guess(val[1]);
								ac=function(){
									$("#id_form-name").val(val[1]);
									unhint();
								}
							}
						}
						lastcb=cb;
						if(val&&(!val.length||!normalizeName(val[1]).lastIndexOf(key,0)))
							cb(val);
						else
							$.ajaxC("/ajax/team_prefix/"+key,function(rec){
								rec=rec?[+rec[0],rec.substring(1)]:[];
								var realkey=rec.length&&normalizeName(rec[1]);
								insert(trees.teamName,!rec.length||realkey===key?key+"\0":key,rec);
								cb(rec);
							});
						return;
					}
					if(!val)
						return;
					var idx=slugs.indexOf(slug),val=retrieve(trees[idx]||{},prefix.toLowerCase());
					if(!(read&(1<<idx))||!val)
						return;
					function cb(val){
						if(lastcb!=cb)
							return;
						var m=$e.attr("name").match(/form-([0-9]*)/),n=+m[1];
						for(var i=0;i<slugs.length;++i)
							$(document.getElementById("id_form-"+n+"-"+slugs[i])).hint(i==idx?prefix+val[i].substring(prefix.length)+" (tab)":val[i]);
						ac=function(){
							for(var i=0;i<slugs.length;++i)
								$(document.getElementById("id_form-"+n+"-"+slugs[i])).val(val[i]);
							if(!$("#id_form-team_type_0:checked,#id_form-team_type_1:checked").length)
								$("#id_form-team_type_"+(val[6]^1)).click();
							$.unhint();
						}
					}
					lastcb=cb;
					if(val&&!val[idx].toLowerCase().lastIndexOf(prefix.toLowerCase(),0))
						cb(val);
					else
						$.ajaxC("/ajax/prev_players/"+slug+"/"+prefix,function(rec){
							if(!rec)
								return;
							rec=rec.split("\t");
							for(var i=0;i<slugs.length;++i)
								insert(trees[i],prefix.toLowerCase(),rec);
							cb(rec);
						});
				}).keyup().keydown(function(e){
					switch(e.keyCode||e.which){
						case 9:
							if(ac())
								e.preventDefault();
							unhint();
							break
						case 27:
							unhint();
							block=true;
					}
				}).submit(function(e){
					if(!indie&&!$("#id_form-name").val()&&!confirm("Are you sure you want to sign up independently?"))
						e.preventDefault();
				});
				$("#signup-volleyball>form input").focus(unhint).blur(unhint);
				if(indie){
					$("#id_form-name").closest("tr").hide();
					var $label=$("label[for=id_form-team_type_0]").first();
					$label.html($label.html().replace("Team","Player"));
				}
				$("#signup-volleyball").before($("<p>").text("If you play regularly or are on a team, it is recommended that you sign up to play competitively."));
				var $h1=$(".main header>h1").first();
				$h1.html($h1.html().replace("Volleyball tournament",indie?"Independent":"Team"));
			});
		</script>
	{% endifequal %}
{% endblock %}
{# vim: set ts=4 sw=4: #}
