{% extends "base_home.html" %}
{% block title %}Sponsors{% endblock %}
{% block description %}List of sponsors for MSMYC{% endblock %}
{% block content %}
	<article>
		<header>
			<h1>Sponsors</h1>
			<p>As a youth-run organization, our success lies in the help of our sponsors, as mentioned below, who have provided us with much support in funding our initiatives. To learn more about becoming a sponsor, please <a href="/contact">contact us</a> at <a href="mailto:&#105;&#110;&#102;&#111;&#64;&#109;&#115;&#121;&#111;&#117;&#116;&#104;&#109;&#105;&#115;&#115;&#105;&#115;&#115;&#97;&#117;&#103;&#97;&#46;&#111;&#114;&#103;">&#105;&#110;&#102;&#111;&#64;&#109;&#115;&#121;&#111;&#117;&#116;&#104;&#109;&#105;&#115;&#115;&#105;&#115;&#115;&#97;&#117;&#103;&#97;&#46;&#111;&#114;&#103;</a>.</p>
		</header>
		<section class="carousel">
			<h2>Katie Mahoney, Councillor, Ward 8</h2>
			<div class="sponsor-panel">
				<div class="sponsor-img" style="background-image:url('/static/img/sponsors/Katie_Mahoney-scaled.jpg');">
					<a href="http://www.mississauga.ca/portal/cityhall/ward8" target="_blank" class="fill-parent nohover"></a>
				</div>
				<p>I am pleased to extend my support to the MS Mississauga Youth Committee's city-wide volleyball tournament for high school students.  Best wishes with your fundraising event and continued success in raising awareness and understanding of this disease.<br>Katie Mahoney, Councillor, Ward 8</p>
			</div>
			<h2>Pat Saito, Councillor, Ward 9</h2>
			<div class="sponsor-panel">
				<div class="sponsor-img" style="background-image:url('/static/img/sponsors/Pat_Saito-scaled.jpg');">
					<a href="http://www.mississauga.ca/portal/cityhall/ward8" target="_blank" class="fill-parent nohover"></a>
				</div>
				<p>"I am proud to support the MS Mississauga Youth Committee's volleyball tournament fundraiser and awareness campaign.  Good luck and keep up the good work."<br>Pat Saito, Councillor Ward, 9</p>
			</div>
			<h2>The Award Store</h2>
			<div class="sponsor-panel">
				<div class="sponsor-img" style="background-image:url('http://www.theawardstore.com/templates/awardstore/images/logo.gif')">
					<a href="http://www.theawardstore.com/" target="_blank" class="fill-parent nohover"></a>
				</div>
				<p>The Award Store has generously donated 30 medals as prizes.<br>
				<br>
				Excerpt:<br>
				We are well known for our quality and service. Our unique designs have been presented at Major sporting events, to visiting dignitaries and have been a main focal point at hundreds of Conventions and Sales Meetings. Explore our web site for thousands of exciting and contemporary ideas available to you!</p>
			</div>
			<h2>Pakmen Volleyball Club</h2>
			<div class="sponsor-panel">
				<div class="sponsor-img" style="background-image:url('http://www.pakmen.com/images/stories/Pakmen_Website_2012/Logos/Pakmen_WebDkYel.png')">
					<a href="http://www.pakmen.com/" target="_blank" class="fill-parent nohover"></a>
				</div>
				<p>The Pakmen Volleyball Club, established&nbsp;in 2002, is a youth&nbsp;volleyball club affiliated with the <a href="http://www.ontariovolleyball.org/" target="_blank">Ontario Volleyball Association</a> (OVA) and&nbsp;Volleyball Canada.</p>
			</div>
		</section>
	</article>
{% endblock %}
{% block postscript %}
	<script type="text/javascript" src="/static/js/vendor/jquery.jcarousel.min.js"></script>
	<script type="text/javascript">
		$(function(){
			var carousel=$(".carousel");
			carousel.wrapInner("<div class=\"carousel-list\" />").children().children("h2").each(function(i,e){
				$(e).next().prepend($(e).remove().hide()).html();
			});
			carousel.after($("<div id=\"carousel-target\">").append($(".carousel-list>.sponsor-panel:first").children().clone().show()))
			.on("createend.jcarousel",function(){
				$(this).jcarousel("scroll",$("div.sponsor-panel").length*Math.random()|0,false);
			}).on("animate.jcarousel",function(){
				$this=$(this);
				$("#carousel-target").fadeOut(200,function(){
					$(this).empty().append($this.jcarousel("target").children().clone().show()).fadeIn(200);
				});
			}).jcarousel({
				wrap:"circular",
				vertical:false,
			}).jcarouselAutoscroll({
				interval:5000,
			}).hover(function(){
				$(this).jcarouselAutoscroll("stop");
			},function(){
				$(this).jcarouselAutoscroll("start");
			});
			var out=false;
			$(window).bind("scroll",function(){
				var newout=$(window).scrollTop()>carousel.offset().top+carousel.height();
				if(newout!=out)
					$(this).jcarouselAutoscroll(newout?"stop":"start");
				out=newout;
			});
		});
	</script>
{% endblock %}
