{% extends "base_home.html" %}
{% block title %}Signup info{% endblock %}
{% block description %}Signup info for {{ name }}{% endblock %}
{% block content %}
	<article>
		<header>
			<h1>Information for {{ ent.name }} at the {{ name }}</h1>
		</header>
		{% if postheader %}
			{% include postheader %}
		{% endif %}
		<section class="view-parent">
			{% include "base_dict.html" %}
		</section>
		{% if children %}
			{% for child in children %}
				<section class="view-child">
					{% include "base_dict.html" with data=child %}
				</section>
			{% empty %}
				<footer>
					<h2>Empty</h2>
					<p>There is nothing else here.</p>
				</footer>
			{% endfor %}
		{% endif %}
	</article>
{% endblock %}
{# vim: set ts=4 sw=4: #}
