{% extends "base_home.html" %}
{% block title %}Ambassadors{% endblock %}
{% block description %}MS Mississauga Youth Committee (MSMYC) ambassadors{% endblock %}
{% block content %}
	<article>
		<header>
			<h1>Meet the Ambassadors</h1>
			<p>We also have student ambassadors, listed at <a href="https://www.facebook.com/groups/450000581703693/">MS Student Ambassadors on Facebook</a>.</p>
		</header>
		<section>
			<h2>Ambassadors</h2>
			<h3>Cawthra Park</h3>
			<ul>
				<li>Jesse Yan</li>
			</ul>
			<h3>Glenforest</h3>
			<ul>
				<li>Edward Chen</li>
				<li>Mike Wang</li>
				<li>Ruhi Kokal</li>
			</ul>
			<h3>Gordon Graydon Memorial</h3>
			<ul>
				<li>Ayesha Madan</li>
				<li><a href="https://www.facebook.com/moksha.patel.7" title="Connect with Moksha Patel on Facebook">Moksha Patel</a></li>
			</ul>
			<h3>John Fraser</h3>
			<ul>
				<li>Braeden Page</li>
				<li>Christine Xin</li>
				<li>Daaniya Tariq</li>
			</ul>
			<h3>Lorne Park</h3>
			<ul>
				<li>Kim Ren</li>
			</ul>
			<h3>Philopateer Christian College</h3>
			<ul>
				<li>George Keliny</li>
			</ul>
			<h3>St. Aloysius Gonzaga</h3>
			<ul>
				<li>Rachel Ha</li>
			</ul>
			<h3>St. Francis Xavier</h3>
			<ul>
				<li><a href="https://www.facebook.com/natashamathew6" title="Connect with Natasha Mathew on Facebook">Natasha Mathew</a></li>
			</ul>
			<h3>St. Marcellinus</h3>
			<ul>
				<li>Eva Xu</li>
			</ul>
			<h3>Stephen Lewis</h3>
			<ul>
				<li><a href="https://www.facebook.com/Anish.ace" title="Connect with Anish Jay Asce on Facebook">Anish Jay Asce</a></li>
				<li>Sathu Siva</li>
			</ul>
			<h3>The Woodlands</h3>
			<ul>
				<li>April Liu</li>
				<li>Ashley Tam</li>
				<li><a href="https://www.facebook.com/Jonathan.Dean.Martins" title="Connect with Johnathan Martins on Facebook">Jonathan Martins</a></li>
			</ul>
			<h3>Rick Hansen</h3>
			<ul>
				<li>Shiwei Zhuang</li>
				<li>Supriya Gopalan</li>
			</ul>
		</section>
	</article>
{% endblock %}
{% block postscript %}
	{% if 0 %}
		<script type="text/javascript">
			var bios=$(".toggle-container>h3").each(function(i,e){
				$(e).togglerFor($(e).next());
			}).next();
			{% comment %}$("#openall").button(function(){
				bios.show("fast");
			});{% endcomment %}
		</script>
	{% endif %}
{% endblock %}
{# vim: set ts=4 sw=4: #}
