{% extends "base_home.html" %}
{% block title %}Apply Now{% endblock %}
{% block description %}MSMYC applications{% endblock %}
{% load extras %}
{% block content %}
	<article>
		<header>
			<h1>Apply Now</h1>
			<p>Being a student-run organization, {% the "name" %} takes in students every year. Some of the positions require an application.</p>
		</header>
		<section>
			<h2>Executives</h2>
			<p>Please fill out <a href="https://www.dropbox.com/s/tw18tqynre6wyed/Applications%20%282013%29.docx?dl=1">this</a> form and send it to us at {% the "email" %} by February 28<sup>th</sup>. We will contact you within two weeks regarding the status of your application.</p>
			<h3>Responsibilities</h3>
			<p>The <strong>Vice Chair</strong> is responsible for coordinating any programs or activities that occur within the Youth Committee. She/he assists in the preparation of meeting agendas prior to each meeting when necessary and looks over the activities of the other executives.</p>
			<p>The <strong>Treasurer</strong> manages the budget for any fundraising activity and in the coming donations. She/he locates monetary and in-kind sponsorships to subsidize costs of fundraising activities and is responsible for financial updates.</p>
			<p>The <strong>Head of Corporate Affairs</strong> works to promote the Youth Committee’s cause through outreach and advocacy. She/he is responsible for contacting local media as well as and facilitating the sponsorship initiatives</p>
			<p>The <strong>Head of Student Ambassadors</strong> acts as liaison between Student Ambassadors and the Youth Committee. She/he ensures that Student Ambassadors are fulfilling their roles by providing them with the necessary materials.</p>
			<p>The <strong>Secretary</strong> is responsible for taking notes at meetings and distributing these notes in timely manner. She/he communicates with organizing logistics and itineraries for the fundraisers with assistance of Chair</p>
			<p>The <strong>Head of Technology</strong> manages and maintains the website through which fundraising activities are to be promoted. She/he also solves any technology based problem the team faces.</p>
		</section>
	</article>
{% endblock %}
{# vim: set ts=4 sw=4: #}
