{% extends "base_home.html" %}
{% block title %}Applications{% endblock %}
{% block description %}MSMYC applications{% endblock %}
{% load extras %}
{% block content %}
	<article>
		<header>
			<h1>Applications</h1>
			<p>Being a student-run organization, {% the "MSMYC" %} takes in students every year. Some of the positions require an application.</p>
		</header>
		<section>
			<h2>Executives</h2>
			<p>Please fill out <a href="https://www.dropbox.com/s/37u4d8mmgenptwu/Applications%20%282013%29.docx?dl=1">this</a> form and send it to us at {% the "email" %} by February 28<sup>th</sup>. We will contact you within about 2 weeks of that date.</p>
		</section>
	</article>
{% endblock %}
{# vim: set ts=4 sw=4: #}
