<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% block title %}MS Mississauga Youth Committee{% endblock %} &#8212; MS Mississauga YC</title>
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="/static/css/normalize.min.css">
		<link rel="stylesheet" href="/static/css/main.css">
		{% block inhead %}{% endblock %}

		<script src="/static/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
		<script>Modernizr.postScripts=[];</script>

		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/static/img/apple-touch-icon-57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-touch-icon-144.png">
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
		<![endif]-->
		<div id="fb-root"></div>
		<script>(function(d,s){
			var js=d.createElement(s),fjs=d.getElementsByTagName(s)[0];
			js.id="facebook-jssdk";js.async=true;
			js.src="//connect.facebook.net/en_GB/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js,fjs);
		}(document,"script"));</script>
		<div class="header-container">
			<header class="wrapper clearfix">
				<h1 class="title"><a href="/" class="nohover"><img src="/static/img/logo.png" alt="logo" title="Go to MSMYC home"></a></h1>
				<nav>
					<ul class="menu">
						<li class="ie6">
							<a href="/" class="ie6">About Us</a>
							<ul>
								<li><a href="/execs">Exec Team</a></li>
								<li><a href="/ambassadors">Ambassadors</a></li>
							</ul>
						</li>
						<li>
							<a href="/events" class="ie6">Events</a>
							<ul>
								<li><a href="/events#volleyball">Volleyball Tournament</a></li>
							</ul>
						</li>
						<li><a href="/sponsors">Sponsors</a></li>
						<li>
							<a href="/contact">Contact Us</a>
							<ul>
								<li><a href="/apply">Apply Now</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
		</div>

		<div class="main-container wrapper">
			<div class="main clearfix">
				{% block content %}{% endblock %}
				{% load extras %}
				{% updates 3 %}
				<aside class="noprint">
					<div class="fb-like-box" data-href="http://www.facebook.com/MsMississaugaYouthCommittee" data-width="292" data-show-faces="true" data-border-color="#dd060b" data-stream="true" data-header="true"></div>
				</aside>
			</div> <!-- #main -->
			<div class="footer-push"></div>
		</div> <!-- #main-container -->

		<div class="footer-container">
			<footer class="wrapper">
				<div class="fall">
					{% block footer %}
						<small>&copy; 2012 Multiple Sclerosis Mississauga Youth Committee</small>
					{% endblock %}
					{% ifadmin %}
						<small><a href="{% logout %}">Logout</a></small>
					{% endifadmin %}
				</div>
			</footer>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.8.2.min.js"><\/script>')</script>

		<script>
			Modernizr.postScripts.push(["/static/js/main.js"]);
			Modernizr.load(Modernizr.postScripts);
		</script>
		{% block postscript %}{% endblock %}
		{% comment %}
			<script>
				var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
				(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
				g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
				s.parentNode.insertBefore(g,s)}(document,'script'));
			</script>
		{% endcomment %}
		<script>
			$(".jshidden").removeClass("jshidden");
		</script>
	</body>
</html>
{# vim: set ts=4 sw=4: #}
