{# {% load extras %} #}
<p class="signup">
	{% if form.management_form %}
		<form action="signup/{{ event }}" method="post">
			{% csrf_token %}
			{{ form.non_field_errors }}
			{{ form.non_form_errors }}
			<table>
				{{ form.management_form.as_table }}
				{% for form in form %}
					<tr style="border-top:1px dotted black"><th></th><td>Player {{ forloop.counter }}</td></tr>
					{{ form.as_table }}
				{% endfor %}
				<tr><td></td><td><input type="submit" value="Sign up" /></td></tr>
			</table>
		</form>
	{% else %}
		<form action="signup/{{ event }}" method="post">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<table>
				{{ form.as_table }}
				<tr><td></td><td><input type="submit" value="Sign up" /></td></tr>
			</table>
		</form>
	{% endif %}
</p>
{# vim: set ts=4 sw=4: #}
