{% extends "base_home.html" %}
{% block title %}About Us{% endblock %}
{% block description %}MS Mississauga Youth Committee (MSMYC) home page{% endblock %}
{% block content %}
	<article>
		<header>
			<h1>About Us</h1>
			<p>The Multiple Sclerosis Mississauga Youth Committee (MSMYC) is a youth-run organization that advocates for awareness of multiple sclerosis in youth. As a non-profit organization that works closely with the MS Society of Canada, the <abbr title="Multiple Sclerosis Mississauga Youth Committee">MSMYC</abbr> was founded by Cathy Li in January 2012 in an effort to bring the issue of multiple sclerosis to the forefront of youth, while raising money towards finding a cure and enhancing the lives of those affected.</p>
		</header>
		<section>
			<h2>What is Multiple Sclerosis?</h2>
			<p>Multiple sclerosis is a chronic disease, often progressive, that affects the central nervous system, resulting in loss of muscle control and sensation. While Canada has the highest incident rate of multiple sclerosis in the world, the majority of the youth populace remains unaware of this disease and its impact. To address this, the <abbr title="Multiple Sclerosis Mississauga Youth Committee">MSMYC</abbr> emphasizes awareness, education, and action through the youth populace. We place high value in the educational background of the disease, as it is an important step in understanding how to advocate for those facing <abbr title="multiple sclerosis">MS</abbr> as well as in sparking interest in the disease.</p>
		</section>
		<section>
			<h2>Mission Statement</h2>
			<blockquote>
				<p>The Multiple Sclerosis Mississauga Youth Committee (MSMYC) strives to engage, educate, and empower youth to take active measures and become leaders in the fight against multiple sclerosis by stimulating awareness, instilling a sense of understanding and empathy for those affected, and raising money towards finding a cure.
				</p>
			</blockquote>
		</section>
	</article>
{% endblock %}
{# vim: set ts=4 sw=4: #}
