/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* TODO optimize to direct-descendant */

html,
button,
input,
select,
textarea{
	color:#222;
}

body{
	font-size:1em;
	line-height:1.4;
}

::-moz-selection{
	background:#b3d4fc;
	text-shadow:none;
}

::selection{
	background:#b3d4fc;
	text-shadow:none;
}

hr{
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0;
}

img{
	vertical-align:middle;
}

fieldset{
	border:0;
	margin:0;
	padding:0;
}

textarea{
	resize:vertical;
}

.chromeframe{
	margin:0.2em 0;
	background:#ccc;
	color:#000;
	padding:0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author:Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body{
	font:16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper{
	width:90%;
	margin:0 5%;
}

/* ===================
	ALL:Theme
   =================== */

.header-container{
	border-bottom:20px solid #000;
}

.main aside{
	border-top:20px solid #000;
}

.header-container,
.main aside{
	background:#dd060b;
}

.title{
	color:white;
}
.fb-like-box{
	background:#fff;
}
@media only screen and (min-width:1040px){
	.fb-like-box{
		margin-left:auto;
		margin-right:auto;
	}
}
@media print{
	.fb-like-box{
		display:none!important;
	}
}
.fb_iframe_widget span{
	display:block!important;
}
a.external{
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=") no-repeat scroll right center transparent;/*Copyright mediawiki TODO replace*/
	padding-right:13px;
}
a:link{
	color:#12c;
}
a:active,a:focus{
	color:orange;
}
a:visited{
	color:#b7f;
}
a:hover{
	color:#70f;
}
a.click{
	color:#059;
}
.click{
	cursor:pointer;
}
a:hover,
.click:hover{
	background-color:#ffc;
	border-radius:2px;
}
a.nohover{
	background:transparent!important;
}
h1.title>a,
header>nav a{
	color:#fff!important;
}
blockquote{
	border:2px dashed #dd060b;
	background-color:#eee;
	padding:1em;
}

/* ===================
	ALL:header/footer
   =================== */

body,html{
	height:100%;
}
div.main-container{
	min-height:100%;
	height:auto!important;
	height:100%;
	margin:0 auto -161px;
}
div.footer-container,.footer-push{
	height:161px;
	position:relative;
}

/* ==============
	MOBILE:Menu
   ============== */

nav ul{
	margin:0;
	padding:0;
}

nav a{
	display:block;
	padding:15px 0;

	text-align:center;
	text-decoration:none;
	font-weight:bold;

	color:white;
}
nav a:hover,nav a:focus{
	background:#000;
}

nav a:hover,
nav a:visited{
	color:white;
}

nav a:hover{
	text-decoration:underline;
}

/* ==============
	MOBILE:Main
   ============== */

.main{
	padding:30px 0;
}

.main article h1{
	font-size:2em;
}

.main aside{
	color:white;
	padding:0px 5% 10px;
	margin-bottom:1em;
}

.footer-container footer{
	background:url("/static/img/footer.png");
	background-position:center bottom;
	background-repeat:no-repeat;
	color:white;
	padding:20px 0;
	height:121px;
	position:relative;
}
.fall{
	position:absolute;
	bottom:0;
}

/* ===============
	ALL:IE Fixes
   =============== */

.ie7 .title{
	padding-top:20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

ul.errorlist{
	float:right;
	margin:0;
}
div.sponsor-img{
	background-position:center;
	background-repeat:no-repeat;
	display:block;
	width:336px;
	height:280px;
}
div.sponsor-panel>p{
	margin:0;
	word-break:hyphenate;
	font-size:.8em;
	line-height:1em;
}
@media only screen and (max-width:964px){
	div.sponsor-panel{
		max-width:100%;
	}
	div.sponsor-img{
		background-size:100%;
		max-width:90%;
	}
}
.carousel{
	position:relative;
	overflow:hidden;
	height:280px;
}
.carousel>div.carousel-list{
	width:20000em;
	position:absolute;
	list-style:none;
	margin:0;
	padding:0;
}
.carousel div.sponsor-panel{
	float:left;
	height:280px;
}
@media only screen and (max-width:964px){
	.sponsor-panel,
	.carousel{
		width:336px;
	}
	.sponsor-panel>p{
		display:none!important;
	}
}
@media only screen and (min-width:965px){
	div.sponsor-panel,
	section.carousel{
		width:500px;
	}
	div.sponsor-img{
		float:left;
	}
	div.sponsor-panel>p{
		display:block;
		width:164px;
		height:280px;
		overflow-y:auto;
	}
	#carousel-target>p{
		display:none!important;
	}
}
#carousel-target>div.sponsor-img{
	display:none!important;
}
.signup ul{
	padding:0;
}
.signup ul li{
	padding-right:.5em;
	display:inline;
}
.signup>form td{
	display:block;
	position:relative;
}
.input-hint{
	position:absolute;
	z-index:-1;
	color:silver;
}
.input-hinted{
	background-color:transparent;
	border-color:transparent;
}
.view-parent{
	border-right:2px dashed #909093;
}
.view-parent dt,
.view-child dt{
	font-style:italic;
}
.view-parent dd,
.view-child dd{
	color:black;
}
.view-child{
	border-top:1px dotted black;
}
.db-read{
	background-color:#ffe;
}
.fill-parent{
	display:block;
	height:100%;
	width:100%;
	text-decoration:none;
}
.menu ul{
	position:absolute;
	top:76px;
	display:block;
	padding-right:2em;
	background-color:#005106;
	visibility:hidden;
}
.menu ul>li{
	position:relative;
	display:block;
	width:100%;
}
.menu ul>li>a{
	width:100%;
	padding-left:1em;
	padding-right:1em;
}
.menu>li:hover>ul,
.menu>li.hover>ul{
	visibility:visible;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width:479px){
	textarea{
		max-width:90%;
	}
	h1{
		margin:0;
	}
	.header-container>header a{
		float:left;
		padding:10px 1%;
		font-size:.7em;
		border-radius:0;
	}
	.header-container>header a>img{
		max-height:22px;
	}
	.header-container>header{
		margin:0 5px;
		width:100%;
	}
	small{
		font-size:.6em;
	}
	.ie8 .header-container>header a>img{
		max-height:none;
	}
	.ie8 .header-container>header a{
		line-height:67px;
		font-size:1em;
	}
	.ie8 .header-container>header>h1{
		margin:0;
	}
}

@media only screen and (min-width:480px){

/* ====================
	INTERMEDIATE:Menu
   ==================== */

	nav a{
		float:left;
		margin:0 1.7%;
		padding:11px 1%;
		font-size:.8em;
	}
	.header-container>header a>img{
		max-height:48px;
	}
	nav{
		width:19.1em;
	}

	nav li:first-child a{
		margin-left:0;
	}

	nav li:last-child a{
		margin-right:0;
	}
	.header-container>header>h1{
		margin:0;
	}

/* ========================
	INTERMEDIATE:IE Fixes
   ======================== */

	h1.title,
	nav>ul>li{
		display:inline;
	}

	.lt-ie9 nav a{
		margin:0 0.7%;
	}
	nav{
		float:right;
	}
}

@media only screen and (min-width:768px){

/* ====================
	WIDE:CSS3 Effects
   ==================== */

	.header-container,
	.main aside{
		-webkit-box-shadow:0 5px 10px #aaa;
		   -moz-box-shadow:0 5px 10px #aaa;
				box-shadow:0 5px 10px #aaa;
	}
	.main-container{
		-webkit-box-shadow:0 7px 5px 2px #aaa;
		   -moz-box-shadow:0 7px 5px 2px #aaa;
				box-shadow:0 7px 5px 2px #aaa;
	}

/* ============
	WIDE:Menu
   ============ */

	.title{
		float:left;
	}

	nav{
		width:72%;
	}

/* ============
	WIDE:Main
   ============ */

	nav a{
		width:19%;
		padding:25px 1%;
		font-size:1em;
	}
	.lt-ie9 nav a{
		width:27%;
	}
	.lt-ie9.lt-ie8 nav a{
		width:21%;
	}
	.main article{
		float:left;
		width:54%;
	}

	.main aside{
		float:right;
		width:28%;
		min-width:228px;
	}
	.fall,
	.main{
		padding-left:20px;
		padding-right:20px;
	}
	.header-container>header a>img{
		max-height:76px;
	}
	.fb-like-box{
		margin-left:-15%;
	}
}

@media only screen and (min-width:1140px){

/* ===============
	Maximal Width
   =============== */

	.wrapper{
		width:1026px; /* 1140px - 10% for margins */
		margin:0 auto;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir{
	background-color:transparent;
	border:0;
	overflow:hidden;
	*text-indent:-9999px;
}

.ir:before{
	content:"";
	display:block;
	width:0;
	height:100%;
}

.hidden{
	display:none !important;
	visibility:hidden;
}

.js .jshidden{
	display:none;
}

.visuallyhidden{
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{
	clip:auto;
	height:auto;
	margin:0;
	overflow:visible;
	position:static;
	width:auto;
}

.invisible{
	visibility:hidden;
}

.clearfix:before,
.clearfix:after{
	content:" ";
	display:table;
}

.clearfix:after{
	clear:both;
}

.clearfix{
	*zoom:1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print{
	*{
		background:transparent !important;
		color:#000 !important; /* Black prints faster:h5bp.com/s */
		box-shadow:none !important;
		text-shadow:none !important;
	}

	a,
	a:visited{
		text-decoration:underline;
	}

	a[href]:after{
		content:" (" attr(href) ")";
	}

	abbr[title]:after{
		content:" (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a.nohover:after,
	a[href^="#"]:after{
		content:"";
	}

	pre,
	blockquote{
		border:1px solid #999;
		page-break-inside:avoid;
	}

	thead{
		display:table-header-group; /* h5bp.com/t */
	}

	tr,
	img{
		page-break-inside:avoid;
	}

	img{
		max-width:100% !important;
	}

	@page{
		margin:0.5cm;
	}

	p,
	h2,
	h3{
		orphans:3;
		widows:3;
	}

	h2,
	h3{
		page-break-after:avoid;
	}
	.header-container{
		display:none;
	}
	.noprint{
		display:none!important;
	}
}
/* vim:set ts=4 sw=4:*/
