{% extends "base_home.html" %}
{% block title %}MEDIchair Halton{% endblock %}
{% block description %}Like MEDIchair Halton for MS Mississauga Youth Committee (MSMYC){% endblock %}
{% load extras %}
{% block content %}
	<article>
		<header>
			<h1>MEDIchair Halton</h1>
			<p>MEDIchair provides home healthcare solutions to Canadians.</p>
		</header>
		<section>
			<h2>Like MEDIchair Halton for {% the "MSMYC" %}</h2>
			<p>MEDIchair Halton has agreed to donate $1 to our cause for every Facebook Like from March to May 2013 up to a maximum of $1000. Please Like MEDIchair Halton for us by following these 2 steps:</p>
			<ol>
				<li>Like <a href="https://www.facebook.com/medichairhalton">MEDIchair Halton</a> on Facebook.</li>
				<li>Post "<span class="copy">I like that you support the MS Mississauga walk (MSMYC)!</span>" on <a href="https://www.facebook.com/medichairhalton">MEDIchair Halton</a>'s page.</li>
			</ol>
			<div class="sponsor-img">
				<a href="https://www.facebook.com/medichairhalton" target="_blank" class="fill-parent nohover">
					<img src="https://www.dropbox.com/s/b0cts326ypgnftt/MEDIchair-Halton-Image.jpg?dl=1" title="Like MEDIchair Halton for MSMYC" width="100%" />
				</a>
			</div>
		</section>
	</article>
{% endblock %}
{% block postscript %}
	<script type="text/javascript" src="/static/js/vendor/jquery.zclip.min.js"></script>
{% endblock %}
{# vim: set ts=4 sw=4: #}
