{% extends "base_home.html" %}
{% block title %}Sponsors{% endblock %}
{% block description %}List of sponsors for MSMYC{% endblock %}
{% block content %}
	<article>
		<header>
			<h1>Sponsors</h1>
			<p>These guys give us money.</p>
		</header>
		<section class="carousel">
			<h2>Pizza</h2>
			<div class="sponsor-panel">
				<div class="sponsor-img" style="background:url(&quot;data:image/svg+xml,<?xml version='1.0'?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg width='336' height='280' xmlns='http://www.w3.org/2000/svg'><rect x='0' y='0' width='336' height='280' fill='orange'/><circle cx='168' cy='140' r='139' stroke='yellow' stroke-width='2' fill='red'/></svg>&quot;);"></div>
				<p>They make pizzas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget tellus neque, vitae vulputate leo. Aliquam risus nulla, facilisis vitae fringilla blandit, posuere adipiscing eros. Sed sapien nibh, pulvinar sed suscipit a, gravida non urna. Vivamus in lacus nunc, sed faucibus massa. Suspendisse pharetra feugiat libero. Fusce ut nulla ut augue facilisis auctor sit amet et est. Nunc tempus placerat vehicula.</p>
			</div>
			<h2>Sushi</h2>
			<div class="sponsor-panel">
				<div class="sponsor-img" style="background:url(&quot;data:image/svg+xml,<?xml version='1.0'?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg width='336' height='280' xmlns='http://www.w3.org/2000/svg'><rect x='0' y='0' width='336' height='280' fill='white'/><circle cx='168' cy='140' r='140' fill='red'/></svg>&quot;);"></div>
				<p>They make sushi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat convallis velit, ac mattis purus consectetur vel. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc dictum mollis mauris, ut dictum lectus aliquam quis. Pellentesque erat justo, egestas eget rutrum eget, tempus vitae ligula. Maecenas fringilla, lectus sed aliquam venenatis, elit dui euismod ipsum, at laoreet mauris felis ac arcu. In diam est, vulputate a ornare eget, euismod luctus nulla. Vivamus ac lectus vel lorem venenatis aliquam vel et purus. Proin dui leo, accumsan non viverra ut, consequat ac purus. Cras quis lacus lectus.</p>
			</div>
			<h2>Bank</h2>
			<div class="sponsor-panel">
				<div class="sponsor-img" style="background:url(&quot;data:image/svg+xml,<?xml version='1.0'?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg width='336' height='280' xmlns='http://www.w3.org/2000/svg'><rect x='0' y='0' width='336' height='280' fill='green'/><circle cx='168' cy='140' r='139' stroke='black' stroke-width='2' fill='green'/></svg>&quot;);"></div>
				<p>They lend money.</p>
			</div>
		</section>
	</article>
{% endblock %}
{% block postscript %}
	<script type="text/javascript" src="/static/js/jquery.jcarousel.js"></script>
	<script type="text/javascript">
		$(function(){
			$(".carousel").wrapInner("<div class=\"carousel-list\" />").children().children("h2").each(function(i,e){
				$(e).next().prepend($(e).remove().hide()).html();
			});
			$(".carousel").after($("<div id=\"carousel-target\">").append($(".carousel-list>.sponsor-panel:first").children().clone().show()))
			.on("createend.jcarousel",function(){
				$(this).jcarousel("scroll",$("div.sponsor-panel").length*Math.random()|0,false);
			}).on("animate.jcarousel",function(){
				$this=$(this);
				$("#carousel-target").fadeOut(200,function(){
					$(this).empty().append($this.jcarousel("target").children().clone().show()).fadeIn(200);
				});
			}).jcarousel({
				wrap:"circular",
				vertical:false,
			}).jcarouselAutoscroll({
			}).hover(function(){
				$(this).jcarouselAutoscroll("stop");
			},function(){
				$(this).jcarouselAutoscroll("start");
			});
		});
	</script>
{% endblock %}
{# vim: set ts=4 sw=4: #}
